<!DOCTYPE html><html lang="en"><head> <meta charset="utf-8" />
  <title>Data Visualization Demo in Flask, Leaflet and ChartJS</title>
 <!-- import plugin script --> 
     <link href="../static/css/bootstrap.min.css" rel="stylesheet">
     <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
     <script src="../static/js/jquery-1.11.2.js"></script>
     <script src="../static/js/Chart.min.js"></script>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="/static/js/hi.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" type="application/javascript"></script>
    
  </head>
  <body> 

   
    
    <div class="container-fluid" style="margin-right: 500px;">
      <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs" style="height: 1000px; ">
          <h2>Statistics</h2>
          
        </div>
        <br>
       <div class="col-sm-3">
              <div class="well">
                <h3>Total deaths to date(2022)</h3>
              <span style="font-size: x-large; color:rgb(248, 115, 6);">{{totaldeaths[0]}}</span>
              </div>
            </div>
        <div class="col-sm-9">
          <div class="well">
            <h2>Total confirmed cases to date</h2>
           
    <div class="container" style="width:800px;">
      <canvas id="myChart" width="500" height="200"></canvas>
    
      </div>
          </div>

          <div class="row">
            <div class="col-sm-9">
              <div class="well" style="width:900px;">
                <h2> Total deaths to Total cases for each country</h2>
        <div class="container" style="width:900px;">
          <canvas id="chart" width="500" height="200"></canvas>
          </div>



            
            <div class="col-sm-3">
              <div class="well">
                <h4>(insert title)</h4>
            <p>(put graph)</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well">
                <h4>(insert title)</h4>
                <p>(put graph)</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="well">
                <h4>(insert title)</h4>
                <p>(put graph)</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <h4>(insert title)</h4>
            <p>(put graph)</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <h4>(insert title)</h4>
                <p>(put graph)</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="well">
                <h4>(insert title)</h4>
               
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <h4>(insert title)</h4>
              

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
//this chart is total confirmed cases to date
    new Chart("myChart", {
      type: "bar",
      data: {
        labels:  [{% for item in labels %}
    "{{item[1]}}",
    {% endfor %}],

        datasets: [{
          label: 'total covid cases',
          backgroundColor:"rgba(206, 70, 90, 1)",
             fillColor: "rgba(206, 70, 90, 1)",
             strokeColor: "rgba(220,220,220,0.8)",
              pointColor: "rgba(220,220,220,1)",
          fill: false,
          data: [{% for item in values %}
                       {{item}},
                     {% endfor %}]
        }]
      }      
});


//this chart is total cases to total deaths in the country
let data = [{
  label: 'Total Cases',
  backgroundColor: '#3366ff',
  data:  [{% for item in labelstotaldeathandtotalcase %}
    "{{item[1]}}",
    {% endfor %}],
},  

{
  label: 'Total Deaths',
  backgroundColor: '#92d400',
  data:  [{% for item in labelstotaldeathandtotalcase %}
    "{{item[2]}}",
    {% endfor %}],
}


];

let myChart = new Chart(document.getElementById('chart'), {
  type: 'horizontalBar',
  data: {
    labels:  [{% for item in labelstotaldeathandtotalcase %}
    "{{item[0]}}",
    {% endfor %}],
    datasets: data
  },
  options: {
    scales: {
      xAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});





$(function() {
    function count($this){
        var current = parseInt($this.html());
        $this.html(++current);
        if(current !== $this.data('count')){
            setTimeout(function(){count($this)});
        }
    }        
  $("span").each(function() {
      $(this).data('count', parseInt($(this).html(), 10));
      $(this).html('357600');
      count($(this));
  });
});


</script>

    

 </body>
 </html>