

<!---this will display all the json data that has iso_code : BRN-->


<!DOCTYPE html><html lang="en"><head> <meta charset="utf-8" />
    <title>Data Visualization Demo in Flask, Leaflet and ChartJS</title>
   <!-- import plugin script --> 
       <link href="../static/css/bootstrap.min.css" rel="stylesheet">
       <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
       <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
       <script src="../static/js/jquery-1.11.2.js"></script>
       <script src="../static/js/Chart.min.js"></script>
       
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
       <script src="/static/js/hi.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" type="application/javascript"></script>
      
    </head>
    <body> 
  
    
      
      <div class="container-fluid" style="margin-right: 500px;">
        <div class="row content" >
          <br>
         <div class="col-sm-3" >
                <div class="well">
                  <h3>Total deaths to date(2022)</h3>
                <p style="font-size: x-large; color:rgb(248, 115, 6);"></p>
  
              </div>
              <div class="well">
                <h3> Total number of people vaccinated in SEA countries to date</h3><br>
  
                <span class="count" style="color:rgb(55, 202, 21); font-size: x-large;">{% for q in vaccinatedtotal %}
                    {{q['SUM']}}
                    {% endfor %}</span><br><br>
  
            </div>
            <div class="well">
              <h3> Total confirmed cases</h3><br>
              
              <span class="count" style="color:rgb(154, 33, 33); font-size: x-large;"></span><br><br>
  
          </div>
              </div>
              
          <div class="col-sm-9" >
            <div class="well"style="width: 900px;">
              <h2>Total confirmed cases to date for each country</h2><a href>View Profile</a>
      <div class="container" style="width:800px;">
      
        <canvas id="myChart" width="500" height="200"></canvas>
        <h2>Total deaths to Total cases for each country</h2>
        <canvas id="chart" width="500" height="200"></canvas>
        
  <div class="pagination">
    
    <a href>1</a>
    <a href>2</a>
    <a href>3</a>
    <a href>4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href>&raquo;</a>
  
    
   
  </div>
      
      
  </div>
  
        </div>
            </div>
  </div>
  
  
  
  
            
          
  
      <script>
  
  
  
  
  
  
  
  </script>
  
      
  
   </body>
   </html>