<!DOCTYPE html><html lang="en"><head> <meta charset="utf-8" />
    <title>Data Visualization Demo in Flask, Leaflet and ChartJS</title>
   <!-- import plugin script --> 
       <link href="../static/css/bootstrap.min.css" rel="stylesheet">
       <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
       <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
       <script src="../static/js/jquery-1.11.2.js"></script>
       <script src="../static/js/Chart.min.js"></script>
       
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
       <script src="/static/js/hi.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" type="application/javascript"></script>
      
    </head>
    <body> 
  
     
      
      <div class="container-fluid" style="margin-right: 500px;">
        <div class="row content">
         
          <br>
         <div class="col-sm-3">
            <div class="well">
              
        </div>
            </div>
              
          <div class="col-sm-9">
            <div class="well" style="width:900px;">
              
      <div class="container" style="width:800px;">
      
        
        <h2>total death to total cases for each SEA country</h2>
        <canvas id="stackedchart" style="width:100%;max-width:600px"></canvas>
        <h2> cases and deaths within the population to date</h2>
        <canvas id="barChart" style="width:100%;max-width:600px"></canvas>  <div style="margin-left: 600px; margin-bottom:px;">
            
  </div>
      
        </div> 
        <div class="pagination">
        <a href>&laquo;</a>
          <a href>1</a>
    <a href= "{{ url_for('secondpage')}}">2</a>
    <a href>3</a>
    <a href= "{{ url_for('fourthpage')}}">4</a>
    <a href= "{{ url_for('fifthpage')}}">5</a>
    <a href="#">6</a>
    <a href>&raquo;</a>
     
         
        </div>
            
            </div>
            
  </div>
  
  
  
  
            
          
  
      <script>
 
 
  
  var barChartData = {
    labels:  [{% for item in location %}
      "{{item}}",
      {% endfor %}],
    datasets: [
      {label: 'Total Death',
      backgroundColor: '#b170be',
      data: [{% for item in totaldeath %}
      "{{item}}",
      {% endfor %}]}, 
       {label: 'Total Cases',
      backgroundColor: '#ff7000',
      data:  [{% for item in totalcases %}
      "{{item}}",
      {% endfor %}]}, 
     
     
    ]
  
  };
  






 var ctx = document.getElementById('stackedchart').getContext('2d'),
      gradient = ctx.createLinearGradient(0, 0, 0, 450);
  
  gradient.addColorStop(0, 'rgba(255, 0,0, 0.5)');
  gradient.addColorStop(0.5, 'rgba(255, 0,0, 0.25)');
  gradient.addColorStop(1, 'rgba(255, 0,0, 0)');
  
  
  
  
  window.myBar = new Chart(ctx, {
    type: 'bar',
    data: barChartData,
    options: {
      
      tooltips: {
        mode: 'index',
        intersect: false
      },
      responsive: true,
      scales: {
        xAxes: [{
          stacked: true,
          ticks: {
          display:true,
        },
          gridLines: {
            display: false,
            drawBorder: false,
          }
        }],
        yAxes: [{
          stacked: true,
          gridLines: {
            drawBorder: false,
            drawTicks: false,
            color: '#E2E2F7',
            borderDash: [3,3],
            borderDashOffset: 0.5,
            lineWidth: 3,
            cornerRadius: 2,
          }
        },
        ]
      }
    }
  });
  



//stacked barchart
  // Percentage of cases and deaths within the population to date CHART
  window.randomScalingFactor = function() {
          return Math.round(Samples.utils.rand(0, 1000));
      };
  
  var barChartData = {
    labels:  [{% for item in  countryname%}
      "{{item}}",
      {% endfor %}],
    datasets: [
      {label: 'Total Death',
      backgroundColor: gradient,
      data: [{% for item in totaldeathwithinpop %}
      "{{item}}",
      {% endfor %}]}, 
       {label: 'Total Cases',
      backgroundColor: '#E2E2F7',
      data:  [{% for item in totalcaseswithinpop %}
      "{{item[2]}}",
      {% endfor %}]}, 
      {label: 'Population',
      backgroundColor: '#09A0CE',
      data:  [{% for item in population %}
      "{{item}}",
      {% endfor %}]},
  
     
    ]
  
  };
  
  var ctx1 = document.getElementById('barChart').getContext('2d'),
      gradient = ctx1.createLinearGradient(0, 0, 0, 450);
  
  gradient.addColorStop(0, 'rgba(255, 0,0, 0.5)');
  gradient.addColorStop(0.5, 'rgba(255, 0,0, 0.25)');
  gradient.addColorStop(1, 'rgba(255, 0,0, 0)');
  
  
  
  
  window.myBar = new Chart(ctx1, {
    type: 'bar',
    data: barChartData,
    options: {
      
      tooltips: {
        mode: 'index',
        intersect: false
      },
      responsive: true,
      scales: {
        xAxes: [{
          stacked: true,
          ticks: {
          display:true,
        },
          gridLines: {
            display: false,
            drawBorder: false,
          }
        }],
        yAxes: [{
          stacked: true,
          gridLines: {
            drawBorder: false,
            drawTicks: false,
            color: '#E2E2F7',
            borderDash: [3,3],
            borderDashOffset: 0.5,
            lineWidth: 3,
            cornerRadius: 2,
          }
        },
        ]
      }
    }
  });
  
  
  </script>
  
      
  
   </body>
   </html>